/**** Base ****/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

[hidden] {
  display: none;
}

 html {
  font-family: sans-serif; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

 body {
  margin: 0;
  background: black;
  color: white;
}

a {
  color: #303030;
  text-decoration: none;
  font-weight: bold;
}

 a:focus {
  outline: thin dotted;
}

 a:active,
 a:hover {
  outline: 0;
  color: #FF7142;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

img {
  border: 0;
}

figure {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline;
}

p {
  margin: 10px;
}


/**** Modules ****/
.name-list {
  margin: 2px 0 0 2px;
  padding: 2px;
  position: fixed;
  top: 0;
  left: 0;
  background: #0085C7;
  z-index: 1;
  border-radius: 3px;
}

.active-list-item {
  color: #FF7142;
  text-decoration: underline;
}

.solar-system {
  height: 2314px;
  width: 2314px;
  margin: 0 auto;
  position: absolute;
  top: -75%;
  left: -50%;
}

.planet {
  position: absolute;
  border-radius: 50%;
  bottom: 50%;
}

.shadow {
  /*Liberally borrowed from Nicholas Gallagher
    http://nicolasgallagher.com/css-pseudo-element-solar-system/demo/*/
  -webkit-box-shadow:inset -10px 0 10px rgba(0,0,0,0.75);
  -moz-box-shadow:inset -10px 0 10px rgba(0,0,0,0.75);
  box-shadow:inset -10px 0 10px rgba(0,0,0,0.75);
}

.text-spacer {
  margin: 10px;
}

.thanks {
  font-size: 13px;
}

/**** Orbits ****/
.orbit {
  border: 1px solid #3D3D3D;
  position: absolute;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -webkit-animation-name:orbit;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:linear;
  -moz-animation-name:orbit;
  ;
}

.active-orbit {
  color: yellow;
  border: 1px solid #FF7142;
}

.mercury-orbit {
  height: 586px;
  width: 586px;
  top: 864px;
  left: 864px;
  -webkit-animation-duration:22s;
  -moz-animation-duration:22s;
}

.venus-orbit {
  height: 602px;
  width: 602px;
  top: 856px;
  left: 856px;
  -webkit-animation-duration:56s;
  -moz-animation-duration:56s
}

.earth-orbit {
  height: 614px;
  width: 614px;
  top: 850px;
  left: 850px;
  -webkit-animation-duration:91s;
  -moz-animation-duration:91s
}

.mars-orbit {
  height: 634px;
  width: 634px;
  top: 840px;
  left: 840px;
  -webkit-animation-duration:172s;
  -moz-animation-duration:172s
}

.jupiter-orbit {
  height: 790px;
  width: 790px;
  top: 762px;
  left: 762px;
  -webkit-animation-duration:1083s;
  -moz-animation-duration:1083s
}

.saturn-orbit {
  height: 974px;
  width: 974px;
  top: 670px;
  left: 670px;
  -webkit-animation-duration:2690s;
  -moz-animation-duration:2690s
}

.uranus-orbit {
  height: 1378px;
  width: 1378px;
  top: 468px;
  left: 468px;
  -webkit-animation-duration:7671s;
  -moz-animation-duration:7671s
}

.neptune-orbit {
  height: 1834px;
  width: 1834px;
  top: 240px;
  left: 240px;
  -webkit-animation-duration:15048s;
  -moz-animation-duration:15048s
}

.pluto-orbit {
  height: 2314px;
  width: 2314px;
  top: 0;
  left: 0;
  -webkit-animation-duration:22616s;
  -moz-animation-duration:22616s
}

@-webkit-keyframes orbit { 
  from { -webkit-transform:rotate(0deg) } 
  to { -webkit-transform:rotate(360deg) } 
}

@-moz-keyframes orbit { 
  from { -moz-transform:rotate(0deg) } 
  to { -moz-transform:rotate(360deg) } 
}



/**** Sun and Planets ****/
.sun {
  height: 570px;
  width: 570px;
  top: 872px;
  left: 872px;
  background: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
  background: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
  background: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
}

.mercury {
  height: 2px;
  width: 2px;
  right: -1px;
  background: #969696;
}

.venus {
  height: 5px;
  width: 5px;
  right: -2.5px;
  background: #FFFF99;
}

.earth {
  height: 5px;
  width: 5px;
  right: -2.5px;
  background: #14B1FF;
}

.mars {
  height: 3px;
  width: 3px;
  right: -1.5px;
  background: #CC3300;
}

.jupiter {
  height: 58px;
  width: 58px;
  right: -29px;
  background: #FF6F0F;
}

.saturn {
  height: 50px;
  width: 50px;
  right: -25px;
  background: #FFFFB3;
}

.saturn-gap {
  height: 60px;
  width: 60px;
  right: -30px;
  bottom: 482px;
  background: black;
}

.saturn-rings {
  height: 100px;
  width: 100px;
  right: -50px;
  bottom: 462px;
  background: #303030;
}

.uranus {
  height: 22px;
  width: 22px;
  right: -11px;
  background: #14B1FF;
}

.neptune {
  height: 20px;
  width: 20px;
  right: -10px;
  background: #0085C7;
}

.pluto {
  height: 1px;
  width: 1px;
  right: -0.5px;
  background: #D1A375;
}